/* =container
-------------------------------------------------------------- */

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px; 
  margin-top:40px;
  }

/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: center; }
  #nav-trigger span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #f5f5dc;
    color: #1C1C1C;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 10px;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent; }
    #nav-trigger span:hover {
      background-color: #D2B48C;
      color: #F5F5DC; }
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

nav {
  margin-bottom: 30px; }

nav#nav-main {
  background-color: #f5f5dc;
  padding: 10px 0; }
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main li {
    display: inline-block;
    border-right: solid 1px #950025;
    padding: 0 5px; }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
    display: block;
    color: #1C1C1C;
    padding: 10px 30px; 
	text-decoration: none;}
    nav#nav-main a:hover {
      background-color: #D2B48C;
      color: #F5F5DC; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f5f5dc;
	margin-top: 0;
	padding-left:0;
	width:200px;
	}
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #950025; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
    color: #1C1C1C;
    padding: 10px 30px; 
	text-decoration: none;}
    nav#nav-mobile a:hover {
      background-color: #D2B48C;
      color: #F5F5DC; }
	  
/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; } }
	
/* =Texto
-------------------------------------------------------------- */
.texto{
	text-align:justify;}

/* =Tabela
-------------------------------------------------------------- */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.sem-borda
{
	border:0px solid #FFFFFF;
}

.tabela-tamanho{
	width:150px;
}

.tabela-center{
	text-align:center;
}
/* =margens
-------------------------------------------------------------- */

.margin-20{
margin-left:20px;}

.margin-40{
margin-left:40px;}

/* =Footer
-------------------------------------------------------------- */
footer{
	height:60px;
	background-color:#f5f5dc;
	margin-top:50px;
	text-align:center;
	padding-top:15px;
}


/* =links
-------------------------------------------------------------- */

.links
{
	text-decoration:none;
	color: #A52A2A;
}

a.links:hover
{
	text-decoration:underline;
	color: #1C1C1C;
}
